table {
    margin: 0px auto;
    border: 1px solid #000;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #000;
}

.requirements-must {
    background: #FF5733;
}

.requirements-should {
    background: #F8BB3D;
}

.requirements-could {
    background: #FFF03A;
}

.center {
    text-align: center;
}