<h2>Website</h2>

<p>This website is made with a plan. There is an approach wich defines an order that should be followed. There
    are requirements to define when the website is complete, and to ensure integrety of the website in the future.
</p>

<h3>Requirements</h3>

<table cellspacing="0">
    <tr>
        <th>Number</th>
        <th>Definition</th>
        <th>Completed</th>
    </tr>

    <tr class="requirements-must">
        <td>1</td>
        <td>The website must be available.</td>
        <td class="center">&check;</td>
    </tr>
    <tr class="requirements-must">
        <td>1.1</td>
        <td>The website must be available on mobile web browsers.</td>
        <td class="center">&check;</td>
    </tr>
    <tr class="requirements-should">
        <td>1.1.1</td>
        <td>The website should be responsive.</td>
        <td class="center">&check;</td>
    </tr>
    <tr class="requirements-must">
        <td>1.2</td>
        <td>The website must be available on desktop web browsers.</td>
        <td class="center">&check;</td>
    </tr>
    <tr class="requirements-must">
        <td>1.3</td>
        <td>The website must be available on web browsers without javascript.</td>
        <td class="center">&check;</td>
    </tr>

    <tr class="requirements-must">
        <td>2</td>
        <td>The website must have an one-page design.</td>
        <td class="center">&check;</td>
    </tr>

    <tr class="requirements-should">
        <td>3</td>
        <td>The website should be accesible.</td>
        <td class="center"></td>
    </tr>
    <tr class="requirements-could">
        <td>3.1</td>
        <td>The website could support multiple languages.</td>
        <td class="center"></td>
    </tr>
    <tr class="requirements-should">
        <td>3.2</td>
        <td>The website should support text-to-speech aids.</td>
        <td class="center"></td>
    </tr>

    <tr class="requirements-must">
        <td>4</td>
        <td>The website must have editor notes for further explanation.</td>
        <td class="center">&check;</td>
    </tr>
    <tr class="requirements-should">
        <td>4.1</td>
        <td>The website should have an option to collapse editor notes.</td>
        <td class="center"></td>
    </tr>

    <tr class="requirements-must">
        <td>5</td>
        <td>The website content must be complete.</td>
        <td class="center"></td>
    </tr>
    <tr class="requirements-must">
        <td>5.1</td>
        <td>The website introduction content must be filled.</td>
        <td class="center">&check;</td>
    </tr>
    <tr class="requirements-must">
        <td>5.2</td>
        <td>The website about content must be filled.</td>
        <td class="center">&check;</td>
    </tr>
    <tr class="requirements-must">
        <td>5.3</td>
        <td>The website team content must be complete.</td>
        <td class="center"></td>
    </tr>
    <tr class="requirements-should">
        <td>5.3.1</td>
        <td>The website team profiles should have a respective picture.</td>
        <td class="center"></td>
    </tr>
    <tr class="requirements-must">
        <td>5.3.2</td>
        <td>The website team profiles must have a default picture.</td>
        <td class="center"></td>
    </tr>
    <tr class="requirements-should">
        <td>5.3.3</td>
        <td>The website team profiles should have a respective description.</td>
        <td class="center"></td>
    </tr>
    <tr class="requirements-must">
        <td>5.4</td>
        <td>The website skills content must be complete.</td>
        <td class="center"></td>
    </tr>
    <tr class="requirements-must">
        <td>5.5</td>
        <td>The website passions content must be filled.</td>
        <td class="center">&check;</td>
    </tr>
    <tr class="requirements-must">
        <td>5.6</td>
        <td>The website meta 'website' content must be complete.</td>
        <td class="center">&check;</td>
    </tr>

    <tr class="requirements-must">
        <td>6</td>
        <td>The website changes must be tracked by a git repository.</td>
        <td class="center">&check;</td>
    </tr>
    <tr class="requirements-should">
        <td>6.1</td>
        <td>The website repository should be hosted on Github, as backup.</td>
        <td class="center"></td>
    </tr>
    <tr class="requirements-must">
        <td>6.2</td>
        <td>The website repository must not be responsible for tracking sensitive personal information.</td>
        <td class="center"></td>
    </tr>

    <tr class="requirements-must">
        <td>7</td>
        <td>The website uses Angular for seperation of concerns.</td>
        <td class="center"></td>
    </tr>
</table>

<h3>Approach</h3>

<p>The first version of the website is made in the following order.</p>

<ol>
    <li>Have an idea.</li>
    <li>Define requirements through MoSCoW.</li>
    <li>Setup local web server.</li>
    <li>Add git repository hosted on Github.</li>
    <li>Add HTML.</li>
    <li>
        Add CSS through Sass.
        <ol>
            <li>Add taskrunner.</li>
        </ol>
    </li>
    <li>
        Review
        <ol>
            <li>Review by others, increases quality.</li>
        </ol>
    </li>
</ol>