<app-language-selector appNote [noteText]="flagsNote"></app-language-selector>
<div class="mobile-headings" (click)="openMobileMenu()">
    <div class="mobile-heading scroll-active-about" i18n="@@about">About</div>
    <div class="mobile-heading scroll-active-team" i18n="@@team">Team</div>
    <div class="mobile-heading scroll-active-career" i18n="@@career">Career</div>
    <div class="mobile-heading scroll-active-skills" i18n="@@skills">Skills</div>
    <div class="mobile-heading scroll-active-passions" i18n="@@passions">Passions</div>
    <div class="mobile-heading scroll-active-website" i18n="@@website">Website</div>
</div>
<div class="h1-container">
    <h1 appNote [noteText]="wipNote">
        <a href="#">Timo Hoff</a>
    </h1>
</div>