@import '../shared/variables';

:host {
    position: relative;
    background: $background-color;
    text-align: left;
}

app-language-selector{
    position: relative;
    padding: 5px 0px;
}

.mobile-headings {
    display: none;
    cursor: pointer;

    .mobile-heading {
        display: none;
        font-size: 1.25rem;

        &.active {
            display: block;
        }
    }
}

.h1-container
{
    display: inline-block;
    position: relative;

    h1 {
        text-decoration: inherit;
        padding: 10px 3px;
        margin: 0px;
        display: inline-block;
    }
}

@media (max-width: $mobile-width) {
    :host {
        display: flex;

        .h1-container {
            width: 40px;
            text-align: left;
            margin-right: 30px;

            h1 {
                width: 30px;
                height: 100%;
                font-size: .75rem;
                text-align: center;
                padding: 0px 5px;
                display: flex;
                align-items: center;
            }
        }

        .mobile-headings {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        app-settings {
            width: 60px;
        }
    }
}