<div class="h1-container" appNote [noteText]="wipNote" [isPositionFixed]="true">
    <h1 routerLink fragment="about">Timo Hoff</h1>
</div>
<div class="mobile-headings" (click)="openMobileMenu()">
    <div class="mobile-heading scroll-active-about" i18n="@@about">About</div>
    <div class="mobile-heading scroll-active-team" i18n="@@team">Team</div>
    <div class="mobile-heading scroll-active-experiences" i18n="@@experiences">Experiences</div>
    <div class="mobile-heading scroll-active-skills" i18n="@@skills">Skills</div>
    <div class="mobile-heading scroll-active-passions" i18n="@@passions">Passions</div>
    <div class="mobile-heading scroll-active-website" i18n="@@website">Website</div>
</div>
<app-settings></app-settings>