h1 {
    text-align: center;
}

h1, h2, h3 {
    margin: 5px 0px;
}

div, p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #08a045;
}

a:hover {
    color: #0b6e4f
}

body {
    margin: 10px 0px;
    padding: 0px;
    background: #fff0db;
}

table {
    margin: 0px auto;
    border: 1px solid #000;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #000;
}

.container {
    max-width: 1100px;
    margin: 0px auto;
    position: relative;
}

.main {
    margin-right: 100px;
}

.section-menu {
    width: 100px;
    height: 100%;
    float: right;
}

.menu-content {
    width: 100px;
    height: 100%;
    position: fixed;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

menu {
    list-style: none;
    padding: 0px;
}

.note {
    background: #FFF03A;
    padding: 2px;
    border-radius: 2px;
}

header {
    padding: 5px;
}

.content {
    padding: 5px;
    background: #55A5AF;
    border-radius: 2px;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
}

.profile {
    width: 240px;
    text-align: center;
}

.requirements-must {
    background: #FF5733;
}

.requirements-should {
    background: #F8BB3D;
}

.requirements-could {
    background: #FFF03A;
}

.center {
    text-align: center;
}

.img-profile {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 15% 0;
    display: block;
    margin: 5px auto;
}

.profile-name {
    display: block;
}

@media (max-width: 500px) {
    .profile {
        width: 175px;
    }
}

@media (max-width: 500px) {
    body {
        margin: 0px;
    }

    .section-menu {
        display: none;
    }

    .main {
        margin: 0px;
    }
}