<h3 i18n="@@approach">Approach</h3>

<p i18n="@@approacheParagraph">I follow an iterative work-flow by having a minimal viable product. For the website I use the approach below.</p>

<ol>
    <li i18n="@@approach1Idea">Have an idea.</li>
    <li i18n="@@approach2Requirements">Define requirements through MoSCoW.</li>
    <li i18n="@@approach3Diagrams">Optionally draw UML diagrams or sketches.</li>
    <li i18n="@@approach4Implementation">Implement the (sub)requirements one by one.</li>
    <li>
        <span i18n="@@approach5Review">Review the result.</span>
        <ol>
            <li i18n="@@approach5_1Review">Review by others, increases quality.</li>
        </ol>
    </li>
</ol>