<h3>Approach</h3>

<p>The first version of the website is made in the following order.</p>

<ol>
    <li>Have an idea.</li>
    <li>Define requirements through MoSCoW.</li>
    <li>Setup local web server.</li>
    <li>Add git repository hosted on Github.</li>
    <li>Add HTML.</li>
    <li>
        Add CSS through Sass.
        <ol>
            <li>Add taskrunner.</li>
        </ol>
    </li>
    <li>
        Review
        <ol>
            <li>Review by others, increases quality.</li>
        </ol>
    </li>
</ol>