@import '../shared/variables';

:host {
    display: block;
    background: $foreground-active-color;

    nav {
        padding: 6px;
        text-align: center;
    }

    header {
        display: flex;
        padding: 8px;

        .icon {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            border: .4em solid #808080;
            box-sizing: border-box;
            display: block;
            background-color: #f3f0f3;
        }

        .title {
            flex: 1;
            padding: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}