<div class="phase">
    <div class="phase-title background-orange">Elementary</div>
    <div class="phase-content">
        <div class="waypoint">
            <div class="waypoint-title">Montessori school</div>
            <div class="waypoint-icon">
                <img src="/assets/placeholder-square.jpg" class="border-orange" tabindex="0" />
            </div>
            <div class="waypoint-connector"></div>
        </div>
    </div>
</div>
<div class="phase">
    <div class="phase-title background-red">Secondary</div>
    <div class="phase-content">
        <div class="waypoint">
            <div class="waypoint-title">VMBO-TL</div>
            <div class="waypoint-icon">
                <img src="/assets/placeholder-square.jpg" class="waypoint-icon border-red" tabindex="0" />
            </div>
            <div class="waypoint-connector"></div>
        </div>
        <div class="waypoint">
            <div class="waypoint-title">Kranten-bezorger</div>
            <div class="waypoint-icon">
                <img src="/assets/placeholder-square.jpg" class="waypoint-icon" tabindex="0" />
            </div>
            <div class="waypoint-connector"></div>
        </div>
        <div class="waypoint">
            <div class="waypoint-title">Logistiek medewerker</div>
            <div class="waypoint-icon">
                <img src="/assets/placeholder-square.jpg" class="waypoint-icon" tabindex="0" />
            </div>
        </div>
    </div>
</div>