$background-color: #fafafa;
$foreground-color: #faf0e6;
$foreground-active-color: #fff0db;
$important-active-color: #2d9d92;
$important-passive-color: #13433e;
$header-height: 40px;
$mobile-width: 500px;