<menu>
    <li>
        <a href="#about" class="scroll-active-about" i18n="@@about">About</a>
    </li>
    <li>
        <a href="#team" class="scroll-active-team" i18n="@@team">Team</a>
    </li>
    <li>
        <a href="#skills" class="scroll-active-skills" i18n="@@skills">Skills</a>
    </li>
    <li>
        <a href="#passions" class="scroll-active-passions" i18n="@@passions">Passions</a>
    </li>
    <li>
        <a href="#website" class="scroll-active-website" i18n="@@website">Website</a>
    </li>
</menu>