@import '../shared/variables';

a.active {
    color: $foreground-active-color;
}

menu {
    list-style: none;
    padding: 0px;
    font-size: 20px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    :host {
        display: none;
    }
}