@import '../shared/variables';

menu {
    list-style: none;
    padding: 0px;
    font-size: 1.25rem;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;

    li {
        display: block;
        width: 100%;
        cursor: pointer;
        text-align: center;
        padding: 5px 0px;

        &.active {
            color: $important-active-color;
        }
    }
}

@media (max-width: $mobile-width) {
    :host {
        display: none;
    }
}