<div>
    @for (section of sections(); track $index) {
        <app-main-section [id]='section.title' [h2Text]="section.title" appScrollActive [selector]="'.scroll-active-' + section.title" [offset]="offset">
            @for (item of section.items; track $index) {
                @if (item.article) {
                    <p>{{item.article.text}}</p>
                }
                @else if (item.profiles) {
                    <app-profiles [profiles]="item.profiles"></app-profiles>
                }
            }
        </app-main-section>
    }

    <app-main-section id="experiences" [h2Text]="experiencesTitle" [noteText]="experiencesNote" appScrollActive selector=".scroll-active-experiences" [offset]="offset">
        <app-experiences></app-experiences>
    </app-main-section>
</div>