@if (experience != null) {
    <div class='short'>
        <div class="location outer">
            <p class="inner">
                <span class="bold">Locatie</span>&nbsp;
                <span>{{ experience ? experience.location : '' }}</span>
            </p>
        </div>
        <div class="skills outer">
            <div class="inner">
                <span class="bold">Vaardigheden</span>
                <ul>
                    @for (skill of experience.skills; track $index) {
                        <li>{{ skill }}</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class='description outer'>
        @if (experience.article) {
            <p class="inner">{{ experience.article.text }}</p>
        }
    </div>
}