@import '../shared/variables';

:host {
    display: flex;
    background: white;

    .bold {
        font-weight: bold;
    }

    .short {
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        overflow: scroll;

        .location {
            height: 30px;
        }

        .skills {
            flex: 1;

            .inner {
                min-height: 100%;
                box-sizing: border-box;

                ul {
                    margin: 0px;
                    padding: 0px 0px 0px 20px;
                }
            }
        }
    }

    .description {
        flex: 1; 
        height: 200px;
        box-sizing: border-box;

        .inner {
            height: 100%;
            box-sizing: border-box;
        }
    }

    .outer {
        padding: 4px;

        .inner {
            border: 1px solid #E5E4E2;
            padding: 4px;
            margin: 0px;
            overflow: scroll;
        }
    }
}

@media (max-width: $mobile-width) {
    :host {
        flex-direction: column;

        .short {
            width: auto;
        }
    }
}