@import '../shared/variables';

:host {
    display: flex;

    .bold {
        font-weight: bold;
    }

    .short {
        width: 200px;

        ul {
            margin: 0px;
            padding: 0px 0px 0px 20px;
        }
    }

    .description {
        flex: 1; 

        .description-background {
            height: 100%;
            background: $background-color;
        }
    }

    .outer {
        padding: 4px;
    }

    .inner {
        background: $background-color;
        padding: 4px;
        margin: 0px;
    }

    .skills .inner {
        max-height: 150px;
        overflow: scroll;
    }
}

@media (max-width: $mobile-width) {
    :host {
        flex-direction: column;

        .short {
            width: auto;
        }
    }
}