@import './shared/variables';

$main-width: 1000px;
$extra-width: 120px;

app-pop-up {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;

    app-menu {
        background: $background-color;
        border: 1px solid black;
    }

    &.active {
        display: flex;

        app-menu {
            display: block;
        }
    }
}

.content-skip {
    z-index: 3;
    top: -50px;
    right: 0px;
    position: fixed;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    border-radius: 0px 0px 0px 4px;
    padding: 2px;
    background: $background-color;

    &:focus-within {
        top: 0px;
    }
}

.mobile-header-spacing {
    display: none;
    height: $header-height;
}

.extra-container {
    width: $extra-width;
    height: 100%;
    float: left;

    .extra {
        position: fixed;
        width: $extra-width;
        height: 100%;
        display: flex;
        flex-direction: column;

        app-menu {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.container {
    max-width: $main-width + $extra-width;
    margin: 0px auto;
    position: relative;
}

.main {
    margin-left: $extra-width;
}

footer {
    font-size: .75rem;
    text-align: center;
    padding: 5px 0px;
}

.content-container {
    padding: 2px 0px;

    .content {
        padding: 5px;
        background: $foreground-color;
        border-radius: 2px;
        display: block;
    }

    &.active .content {
        background: $foreground-active-color;
    }
}

.content-container:first-child {
    padding-top: 0px;
}

.content-container:last-child {
    padding-bottom: 0px;
}

@media (max-width: $mobile-width) {
    .main {
        margin: 0px;
    }

    .mobile-header-spacing {
        display: block;
    }

    .extra-container .extra {
        position: relative;

        app-menu {
            display: none;
        }
    }

    header {
        z-index: 2;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: $header-height;
    }
}