<nav class="content-skip">
  Skip <span i18n="@@to">to</span>&nbsp;
  <a href="#about">content <span i18n="@@top">top</span></a>&nbsp;
  <span i18n="@@or">or</span>&nbsp;
  <a href="#contact">content <span i18n="@@bottom">bottom</span></a>.
</nav>

<app-pop-up (click)="closePopUp()">
  <app-menu></app-menu>
</app-pop-up>

<div class="container">
  <div class="extra-container">
    <div class="extra">
      <header app-header></header>
      <app-menu></app-menu>
    </div>
  </div>

  <div class="main">
    <div class="mobile-header-spacing"></div>

    <router-outlet></router-outlet>
  </div>

  <footer>2023 - 2024</footer>
</div>