<div class="container">
  <app-menu></app-menu>

  <div class="main">
    <header>
      <h1 appNote noteText="This website is a work in progress.">Timo Hoff</h1>
      <app-language-selector appNote noteText="Microsoft is not supporting any country flag emojis because they are afraid of upsetting any sovereignty claims. Eventhough the standard specification is declaring which country flags are expected, Microsoft is chosing to do something different. There are so many Windows users that Microsoft is forcing me to adhere to their descisions."></app-language-selector>
    </header>

    <div>
      <app-about id="about" class="content"></app-about>
      <app-team id="team" class="content"></app-team>
      <app-skills id="skills" class="content"></app-skills>
      <app-passions id="passions" class="content"></app-passions>
      <app-website id="website" class="content"></app-website>
    </div>
  </div>

  <footer>Timo Hoff 2023</footer>
</div>

<router-outlet></router-outlet>