.container {
    max-width: 1100px;
    margin: 0px auto;
    position: relative;
}

.main {
    margin-right: 100px;
}

header {
    padding: 5px;
    position: relative;
}

footer {
    font-size: 12px;
    text-align: center;
    padding: 5px 0px;
}

.content {
    padding: 5px;
    background: #55A5AF;
    border-radius: 2px;
}

@media (max-width: 500px) {
    .main {
        margin: 0px;
    }
}