.extra-container {
    width: 120px;
    height: 100%;
    float: right;

    .extra {
        position: fixed;
        width: 120px;
        height: 100%;
        display: flex;
        flex-direction: column;

        app-menu {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.container {
    max-width: 1120px;
    margin: 0px auto;
    position: relative;
}

.main {
    margin-right: 120px;
}

header {
    position: relative;
    background: #faf0e6;
}

footer {
    font-size: 12px;
    text-align: center;
    padding: 5px 0px;
}

.content-container {
    padding: 2px 0px;

    .content {
        padding: 5px;
        background: #54c0ff;
        border-radius: 2px;
        display: block;
    }

    &.active .content {
        background: #29b0ff;
    }
}

.content-container:first-child {
    padding-top: 0px;
}

.content-container:last-child {
    padding-bottom: 0px;
}

@media (max-width: 500px) {
    .main {
        margin: 40px 0px 0px 0px;
    }

    .extra-container .extra {
        position: relative;

        app-menu {
            display: none;
        }
    }

    header {
        z-index: 1;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 40px;
    }
}