<div [title]="english" aria-hidden="true" class='box' [ngClass]="{'active': isEnglish}" tabindex="0" (click)="navigateToEnglish()" (keydown.enter)="navigateToEnglish()">
    <div class="language">
        <div class="flag english-flag"></div>
        <div class="language-code">EN</div>
    </div>
</div>
<div [title]="dutch" aria-hidden="true" class='box' [ngClass]="{'active': isDutch}" tabindex="0" (click)="navigateToDutch()" (keydown.enter)="navigateToDutch()">
    <div class="language">
        <div class="flag dutch-flag"></div>
        <div class="language-code">NL</div>
    </div>
</div>
