@if (profile != null) {
    @if (profile.imageUrl != null && profile.imageUrl != '') {
        <img [src]="profile.imageUrl" [alt]="profile.imageAlt" class='profile' tabindex="0" />
    }
    @else if (profile.emoji != null && profile.emoji != '') {
        <div class='profile'>
            <p class="emoji">{{ profile.emoji }}️</p>
        </div>
    }
    @else {
        <img src="../../assets/placeholder-square.jpg" alt="Placeholder square." class='profile' tabindex="0" />
    }
    <span>{{ profile.name }}</span>
}