html, body {
    margin: 0px;
    padding: 0px;
    background: #faf0e6;
}

body.overflow-hidden {
    overflow: hidden;
}

.container.disabled {
    opacity: .5;
    pointer-events: none;
}

header {
    display: block;
    position: relative;
    text-align: center;
}

h1, h2, h3 {
    display: inline-block;
    position: relative;
    margin: 5px 0px;
}

h1 {
    font-size: 20px;
}

h2, h3 {
    font-size: 16px;
}

div, p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #54c0ff;
}

a:hover {
    color: #009efa
}

.note-lightbulb {
    position: absolute;
    top: 0px;
    right: -20px;
    cursor: pointer;
}

.note-container {
    width: 100%;

    .note {
        background: #FFF03A;
        text-align: left;
        padding: 2px;
        margin: 0px;
    }
}

app-profiles {
  .description {
    width: 100%;
    padding: 2px;
    background: #fafafa;
    margin: 5px 0px;

    p {
      margin: 2px;
      padding: 0px;
    }
  }
}

.background-red {
    background: #FF5733;
}

.background-orange {
    background: #F8BB3D;
}

.background-yellow {
    background: #FFF03A;
}

@media (max-width: 500px) {
    body {
        margin: 0px;
    }
}