@import './app/shared/variables';

html, body {
    margin: 0px;
    padding: 0px;
    background: $background-color;
    height: 100%;
}

body.overflow-hidden {
    overflow: hidden;
}

.container.disabled {
    opacity: .5;
    pointer-events: none;
}

header {
    display: block;
    position: relative;
    text-align: center;
}

h1, h2, h3 {
    display: inline;
    position: relative;
    margin: 5px 0px;
}

h1 {
    font-size: 1.25rem;
}

h2, h3 {
    font-size: 1.125rem;
}

h4 {
    font-size: 1rem;
}

div, p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

a, [routerLink] {
    text-decoration: none;
    color: $important-passive-color;
    cursor: pointer;
}

a:hover, [routerLink]:hover {
    color: $important-active-color;
}

.note-lightbulb {
    position: absolute;
    top: 0px;
    right: -1.25rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 1.1em;
}

.note-container {
    width: 100%;
    background: #FFF03A;

    .note {
        text-align: left;
        padding: 2px;
        margin: 0px;
    }

    .exit {
        text-align: center;
        padding-bottom: 2px;
        cursor: pointer;
    }

    &.position-fixed {
        position: fixed;
        left: 0px;
        z-index: 1;

        .note {
            display: inline-block;
        }

        @media (max-width: $mobile-width) {
            top: $header-height;
        }
    }
}

app-profiles {
  .description {
    width: 100%;
    padding: 2px;
    border: 1px solid black;
    margin: 5px 0px;

    p {
      margin: 2px;
      padding: 0px;
    }
  }
}

.background-red {
    background: #FF5733;
}

.background-orange {
    background: #F8BB3D;
}

.background-yellow {
    background: #FFF03A;
}

.important-active-color {
    color: $important-active-color;
}

.important-passive-color {
    color: $important-passive-color;
}

@media (max-width: $mobile-width) {
    body {
        margin: 0px;
    }

    h1 {
        display: inline-block;
    }
}